h2{
    display: flex;
    justify-content: center;
}
.navbar {
    width: 100%;
    background-color: #2f8e32;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.navbar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #3e8e41;
}