
table {
	margin-left: 20%;
	border-collapse: collapse;
	width: 60%;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
	padding: 12px 15px;
	border: 1px solid #ddd;
	text-align: center;
}
th {
	background-color: #4CAF50;
	color: white;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
.button-container {
	display: flex;
	justify-content: center;
	gap: 10px;
}
.btn {
	padding: 8px 12px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
	color: white;
}
.btn.edit {
	background-color: #4CAF50;
}
.btn.delete {
	background-color: #f44336;
}
.btn:hover {
	opacity: 0.8;
}

#addMenu{
    margin-left:20%;
	background-color: #4CAF50;
}